/*
* @Author: yingyuk
* @Date:   2016-04-02 00:50:01
* @Last Modified by:   yingyuk
* @Last Modified time: 2016-04-02 11:36:05
*/

table {
    border-collapse: collapse;
    border: 1px solid #333;
}

table td,
table th {
    width: 80px;
    height: 30px;
    text-align: left;
    border: 1px solid #333;
}

table th {
    color: #fff;
    background: #222;
}

table tr:nth-child(-n+3) {
    color: red;
}

table tr:hover,
table tr:nth-child(even) {
    background: #777;
}


/*----------------*/

.input {
    width: 200px;
    margin: 25px;
    text-align: center;
}

.input input {
    width: 80px;
    -webkit-transition: width cubic-bezier(.87, -.01, .57, 1.28) 800ms;
    transition: width cubic-bezier(.87, -.01, .57, 1.28) 800ms;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.input input:focus {
    width: 200px;
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}


/*-----------------*/

.banner {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 10px;
    background: gray;
}

.banner .item {
    position: absolute;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

.pager {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 100%;
    width: 20px;
    height: 20px;
    font-size: 10px;
    text-align: center;
    color: #000;
    background: #ccc;
}

.pager1 {
    -webkit-transform: translateX(-300%);
    -ms-transform: translateX(-300%);
    transform: translateX(-300%);
}

.pager2 {
    -webkit-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    transform: translateX(-200%);
}

.pager3 {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.banner .item1 {
    background: green;
}

.banner .item2 {
    background: yellow;
}

.banner .item3 {
    background: blue;
}

.banner2 a:hover .item {
    z-index: 5;
}

a:hover,
a:hover .pager {
    background: #777;
}

.banner3 .item:target {
    z-index: 5;
}
