/*
* @Author: yingyuk
* @Date:   2016-04-02 15:20:09
* @Last Modified by:   yingyuk
* @Last Modified time: 2016-04-04 16:28:07
*/
#header .head .headRight .searchWrap, #header .head .headRight .login, #header .head .headRight .login h4:before, .container .sidebar .profile .hd .face, .container .sidebar .profile .hd .name, .container .sidebar .profile .bd .favorites, .container .sidebar .profile .bd .fans, .treeFile .treeFileItem .nodeTitle:before, .folder .toggle, .folder .name, .folder .name:before, .folder .file:before, .viewport .nav .breadcrumb li, .detailSearch .filterBox, .detailSearch .filterBox .wrap, .detailSearch .filterBox .col, .detailSearch .filterBox .col2:after, .detailSearch .rangeSearch, .timeLine a, .timeLine .history:before, .timeLine .timeCycle .down:before, .statistics .bd .amount .info, .statistics .bd .amount .figure, .project .detail, .project .detail .navTab .navTabItem, .project .detail .navTab .navTabItem a, .project .summary, #calendar, .top10, .top10 .bd .table .progress-bar, .top10 .bd .table .progress-bar .progress {
  display: inline-block; }

#header .head .headRight .searchWrap, .project .detail .navTab, .project .detail .projectList {
  position: relative; }

.container .sidebar .profile .hd .face:before, .project .detail .projectList .projectItem {
  position: absolute; }

#header .head .headRight, .statistics .bd .amount .figure, .project .summary, .project .summary .bd table tr td button, .top10 {
  float: right; }

#header .head .logo, .container .sidebar {
  float: left; }

#header .head:after, .container:after, .statistics .bd .amount:after, .middle:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: "."; }
#header .head li, .container li, .statistics .bd .amount li, .middle li {
  zoom: 1; }

.container .sidebar .profile .bd .favorites, .container .sidebar .profile .bd .fans, .treeFile .treeFileItem div {
  cursor: pointer; }

.detailSearch:hover, .timeLine a:hover, .statistics .bd .amount:hover, .tableCard:hover {
  box-shadow: 0 0 2px 2px #ccc; }

body {
  background: #eee; }

/**
body
	header
	container
		sidebar
		viewport
 */
/*
#header 
  .head 
    .logo 
      img 
    .headRight 
      .searchWrap 
        .searchInput 
        .searchBtn 
      .login 
        h4 
          &:before 
 */
#header {
  background: #228abf; }
  #header .head {
    width: 1280px;
    height: 56px;
    margin: 0 auto;
    background: #228abf; }
    #header .head .logo img {
      margin: 10px 0 0 50px; }
    #header .head .headRight .searchWrap {
      margin-right: 21px;
      line-height: 56px; }
      #header .head .headRight .searchWrap .searchInput {
        width: 313px;
        height: 28px;
        padding-left: 15px;
        border: none;
        border-radius: 14px; }
      #header .head .headRight .searchWrap .searchBtn {
        position: absolute;
        left: 18px;
        top: 20px;
        width: 17px;
        height: 17px;
        background: url(../images/sprite.png) no-repeat -60px -95px; }
    #header .head .headRight .login {
      margin-right: 94px; }
      #header .head .headRight .login h4 {
        font: 12px/16px "Adobe Heiti Std";
        color: #fff; }
        #header .head .headRight .login h4:before {
          content: '';
          width: 15px;
          height: 16px;
          margin-right: 4px;
          vertical-align: top;
          background: url(../images/sprite.png) no-repeat -30px -95px; }

.container {
  width: 1280px;
  margin: 0 auto; }
  .container .sidebar {
    width: 260px;
    height: 1130px;
    background: #2a2e3d; }
    .container .sidebar .profile {
      height: 150px;
      text-align: center; }
      .container .sidebar .profile .hd {
        padding-left: 45px;
        margin: 21px 0 24px;
        text-align: left;
        line-height: 57px; }
        .container .sidebar .profile .hd .face img {
          width: 47px;
          height: 47px;
          margin: 5px;
          border-radius: 50%; }
        .container .sidebar .profile .hd .face:before {
          content: '';
          display: block;
          width: 55px;
          height: 55px;
          border: 1px solid #bababe;
          background: transparent;
          vertical-align: middle;
          border-radius: 50%; }
        .container .sidebar .profile .hd .name {
          margin-left: 18px;
          font-size: 16px;
          color: #f5f5f5; }
      .container .sidebar .profile .bd {
        padding-left: 45px;
        font-size: 16px;
        line-height: 18px;
        text-align: left;
        color: #6e8095; }
        .container .sidebar .profile .bd .favorites {
          margin-left: 17px;
          padding-right: 31px;
          text-align: center;
          border-right: 2px solid #313545; }
        .container .sidebar .profile .bd .fans {
          margin-left: 31px;
          text-align: center;
          cursor: pointer; }
    .treeFile .treeFileItem {
      padding-left: 45px;
      height: 64px;
      line-height: 64px;
      color: #6e8095; }
      .treeFile .treeFileItem.active {
        height: auto;
        background: #383d4d; }
        .treeFile .treeFileItem.active .nodeTitle {
          margin-bottom: -12px;
          color: #ededef; }
      .treeFile .treeFileItem:hover {
        background: #383d4d; }
      .treeFile .treeFileItem .nodeTitle:before {
        content: '';
        width: 12px;
        height: 12px;
        margin-right: 10px;
        vertical-align: middle;
        background: url(../images/sprite.png) no-repeat; }
      .treeFile .treeFileItem .nodeTitle.forms:before {
        background-position: -30px -20px; }
      .treeFile .treeFileItem .nodeTitle.favorites:before {
        background-position: -60px -20px; }
      .treeFile .treeFileItem .nodeTitle.share:before {
        background-position: -90px -20px; }
      .treeFile .treeFileItem .nodeTitle.gallery:before {
        background-position: -60px -20px; }
      .treeFile .treeFileItem .nodeTitle.record:before {
        background-position: -60px -20px; }
      .treeFile .treeFileItem .nodeTitle.account:before {
        background-position: -120px -20px; }

.folder {
  padding-left: 21px;
  line-height: 30px; }
  .folder .toggle {
    width: 12px;
    height: 12px;
    background: url(../images/sprite.png) no-repeat -30px -70px; }
  .folder .name:before {
    content: '';
    width: 12px;
    height: 12px;
    margin-right: 4px;
    background: url(../images/sprite.png) no-repeat -30px -45px; }
  .folder.active .toggle {
    background: url(../images/sprite.png) no-repeat -60px -70px; }
  .folder.active .name {
    color: #ededef; }
    .folder.active .name:before {
      background: url(../images/sprite.png) no-repeat -60px -45px; }
  .folder .file {
    padding-left: 30px; }
    .folder .file:before {
      content: '';
      width: 12px;
      height: 12px;
      margin-right: 4px;
      background: url(../images/sprite.png) no-repeat -120px -45px; }
    .folder .file.active {
      color: #ededef; }
      .folder .file.active:before {
        background: url(../images/sprite.png) no-repeat -90px -45px; }

.viewport {
  overflow: hidden;
  background: #eeedec; }
  .viewport .nav {
    height: 31px;
    background: #fff; }
    .viewport .nav .breadcrumb {
      margin-left: 30px; }
      .viewport .nav .breadcrumb li {
        font: 12px/31px "SimHei";
        color: #aaa; }
        .viewport .nav .breadcrumb li.active {
          color: #6898c2; }
        .viewport .nav .breadcrumb li + li:before {
          content: "/\00a0";
          color: #b0b0b0; }

.main {
  padding: 0 70px 60px 60px; }

.detailSearch {
  margin-top: 19px;
  height: 86px;
  background: #fff;
  border: 1px solid #dddfe1;
  line-height: 86px; }
  .detailSearch .filterBox {
    margin-left: 30px;
    font-size: 0;
    vertical-align: middle;
    line-height: 30px; }
    .detailSearch .filterBox .col {
      vertical-align: top; }
      .detailSearch .filterBox .col .tit {
        margin-right: 15px; }
      .detailSearch .filterBox .col label {
        color: #aaa;
        font: 12px/28px "SimHei"; }
      .detailSearch .filterBox .col select,
      .detailSearch .filterBox .col #date {
        box-sizing: border-box;
        border: 1px solid #ddd;
        height: 21px;
        line-height: 21px; }
      .detailSearch .filterBox .col .wide {
        width: 121px; }
      .detailSearch .filterBox .col .narrow {
        width: 71px; }
    .detailSearch .filterBox .col1 {
      width: 150px; }
    .detailSearch .filterBox .col2 {
      width: 210px; }
      .detailSearch .filterBox .col2:after {
        content: '';
        cursor: pointer;
        width: 28px;
        height: 38px;
        background: url(../images/sprite.png) no-repeat -30px -140px; }
    .detailSearch .filterBox .col3 {
      width: 320px; }
      .detailSearch .filterBox .col3 .tit {
        margin: 0 15px 0 10px; }
  .detailSearch .rangeSearch {
    margin-left: 28px; }
    .detailSearch .rangeSearch .search {
      width: 51px;
      height: 26px;
      border: none;
      color: #fff;
      background: #388ac1; }

.timeLine {
  margin-top: 9px;
  height: 65px;
  display: flex; }
  .timeLine .btn {
    width: 31px; }
  .timeLine a {
    background-color: #fff;
    width: 111px;
    height: 100%;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid #d7d9dc;
    border-top: 1px solid #d7d9dc; }
    .timeLine a + a {
      margin-left: 4px; }
  .timeLine .prev {
    order: -1;
    background: url(../images/sprite.png) no-repeat -60px -120px, #fff; }
  .timeLine .next {
    order: 1;
    background: url(../images/sprite.png) no-repeat -90px -120px, #fff; }
  .timeLine .history {
    order: 2;
    flex: 1;
    line-height: 64px; }
    .timeLine .history:before {
      content: '';
      width: 32px;
      height: 32px;
      background: url(../images/sprite.png) no-repeat -121px -95px;
      vertical-align: middle; }
  .timeLine .timeCycle .top {
    font: 12px/36px "Microsoft YaHei";
    color: #323333; }
  .timeLine .timeCycle .down {
    font: 21px/1 "Microsoft YaHei";
    color: #ec6500; }
    .timeLine .timeCycle .down:before {
      content: '';
      width: 11px;
      height: 12px;
      background: url(../images/sprite.png) no-repeat -90px -95px; }
  .timeLine .timeCycle.active {
    border-top: 3px solid #4389c9; }

.statistics .hd {
  font: 12px/31px "Microsoft YaHei";
  color: #323333; }
.statistics .bd {
  display: flex; }
  .statistics .bd .amount {
    flex: 1;
    text-align: left;
    padding: 12px 15px 12px 12px;
    background: #fff;
    box-shadow: 0 0 2px 2px #d7d9da; }
    .statistics .bd .amount + .amount {
      margin-left: 29px; }
    .statistics .bd .amount .info p {
      font: 12px/25px "SimHei";
      color: #323333; }
      .statistics .bd .amount .info p + p {
        color: #aaa;
        font: 10px/25px "SimHei"; }
    .statistics .bd .amount .figure {
      vertical-align: top;
      width: 61px;
      height: 47px; }
  .statistics .bd .productA {
    border-left: 4px solid #43b29d; }
    .statistics .bd .productA .figure {
      background: #43b29d; }
  .statistics .bd .productB {
    border-left: 4px solid #388bc2; }
    .statistics .bd .productB .figure {
      background: #388bc2; }
  .statistics .bd .productC {
    border-left: 4px solid #d04b36; }
    .statistics .bd .productC .figure {
      background: #d04b36; }
  .statistics .bd .productD {
    border-left: 4px solid #e2cd47; }
    .statistics .bd .productD .figure {
      background: #e2cd47; }

.tableCard {
  height: 356px;
  background: #fff;
  vertical-align: top; }
  .tableCard .hd {
    color: #aaa;
    font: 12px/41px "SimHei";
    padding-left: 21px;
    border-bottom: 1px solid #e7e8eb;
    background: #f4f5f6; }

.project {
  margin-top: 14px;
  box-sizing: border-box; }
  .project .detail {
    width: 531px; }
    .project .detail .bd {
      margin: 13px 20px 24px 21px; }
    .project .detail .navTab {
      margin-bottom: -1px;
      z-index: 100; }
      .project .detail .navTab .navTabItem {
        width: 84px;
        height: 26px;
        background: #ededf0;
        border-radius: 3px 3px 0 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #d7d8d8; }
        .project .detail .navTab .navTabItem + .navTabItem {
          margin-left: 3px; }
        .project .detail .navTab .navTabItem.active, .project .detail .navTab .navTabItem:hover {
          background: #fff;
          border: 1px solid #d7d8d8;
          border-bottom: 1px solid #fff; }
        .project .detail .navTab .navTabItem a {
          width: 100%;
          color: #535353;
          text-align: center;
          line-height: 26px; }
    .project .detail .projectList {
      height: 250px;
      padding: 25px 0 0 35px;
      box-sizing: border-box;
      border: 1px solid #d7d8d8;
      border-radius: 0 3px 3px 3px; }
      .project .detail .projectList .projectItem {
        width: 410px;
        height: 220px;
        background: #fff; }
        .project .detail .projectList .projectItem.active {
          z-index: 5; }
        .project .detail .projectList .projectItem:target {
          z-index: 10; }
        .project .detail .projectList .projectItem td {
          width: 100px;
          padding-left: 17px;
          box-sizing: border-box;
          border: 1px solid #d2d3d4;
          font: 12px/2.5 "SimSun";
          color: #535353; }
  .project .summary {
    width: 351px; }
    .project .summary .bd {
      padding: 15px 35px;
      font-size: 12px; }
      .project .summary .bd table {
        width: 100%;
        height: 100%; }
        .project .summary .bd table tr {
          height: 43px; }
          .project .summary .bd table tr + tr {
            border-top: 1px solid #e8e8e8; }
          .project .summary .bd table tr td {
            line-height: 17px;
            height: 43px; }
            .project .summary .bd table tr td + td {
              border-left: 1px solid #e8e8e8; }
            .project .summary .bd table tr td .tit {
              color: #c3c2c2; }
            .project .summary .bd table tr td .cnt {
              color: #535353; }
            .project .summary .bd table tr td button {
              width: 51px;
              height: 26px;
              border: none;
              border-radius: 2px;
              background: #388ac1;
              color: #fff; }
          .project .summary .bd table tr .about {
            vertical-align: top; }

.otherInfo {
  display: block;
  margin-top: 9px; }
  #calendar {
    width: 351px; }
    #calendar .bd {
      padding: 0 20px; }
      #calendar .bd .boxTit {
        display: flex;
        border-bottom: 2px solid #a9cfec; }
        #calendar .bd .boxTit .year-box,
        #calendar .bd .boxTit .month-box,
        #calendar .bd .boxTit .holiday-box,
        #calendar .bd .boxTit .backtoday {
          flex: 1;
          margin: 10px 2px;
          text-align: center;
          border: 1px solid #cbcbcb;
          color: #535353;
          font: 12px/23px "SimHei"; }
          #calendar .bd .boxTit .year-box select,
          #calendar .bd .boxTit .month-box select,
          #calendar .bd .boxTit .holiday-box select,
          #calendar .bd .boxTit .backtoday select {
            width: 100%;
            height: 23px;
            border: none;
            color: #535353;
            font: 12px/23px "SimHei"; }
        #calendar .bd .boxTit .month-box select {
          width: 50px; }
    #calendarBox .table {
      width: 100%;
      font: 11px/14px "SimHei";
      color: #323333; }
      #calendarBox .table th {
        border-bottom: 1px solid #333; }
      #calendarBox .table th,
      #calendarBox .table td {
        text-align: center;
        padding: 8px 5px; }
        #calendarBox .table th .relative a,
        #calendarBox .table td .relative a {
          display: block;
          border: 1px solid transparent; }
          #calendarBox .table th .relative a .daynumber,
          #calendarBox .table td .relative a .daynumber {
            display: block; }
          #calendarBox .table th .relative a.weekend .daynumber,
          #calendarBox .table td .relative a.weekend .daynumber {
            color: #c9161d; }
          #calendarBox .table th .relative a.festival .almanac,
          #calendarBox .table td .relative a.festival .almanac {
            color: #c9161d; }
          #calendarBox .table th .relative a.selected, #calendarBox .table th .relative a:hover,
          #calendarBox .table td .relative a.selected,
          #calendarBox .table td .relative a:hover {
            border: 1px solid #f7d155; }

.top10 {
  width: 531px; }
  .top10 .bd {
    padding: 18px 40px; }
    .top10 .bd .table {
      width: 100%; }
      .top10 .bd .table tr {
        cursor: pointer; }
        .top10 .bd .table tr:hover {
          background: #f4f6f7; }
        .top10 .bd .table tr th,
        .top10 .bd .table tr td {
          text-align: center;
          border: 1px solid #c4c4c4;
          height: 23px; }
      .top10 .bd .table .progress-bar {
        width: 167px;
        height: 4px;
        margin-left: 22px;
        background: #dcdcdc;
        vertical-align: middle;
        text-align: left; }
        .top10 .bd .table .progress-bar .progress {
          vertical-align: top;
          height: 100%;
          background: #7fcbf0; }
          .top10 .bd .table .progress-bar .progress.first {
            background: #ed6e52; }
          .top10 .bd .table .progress-bar .progress.second {
            background: #ee804f; }
          .top10 .bd .table .progress-bar .progress.third {
            background: #f19e4f; }

/*# sourceMappingURL=main.css.map */
