@charset "UTF-8";
/*
* @Author: yingyuk
* @Date:   2016-03-31 11:16:13
* @Last Modified by:   yingyuk
* @Last Modified time: 2016-04-02 14:46:45
*/
.container, #banner, #about-world {
  position: relative; }

.container {
  margin: 0 auto; }

#m-sliders .sld-info:before, .new-time .right:before {
  display: block;
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  content: '';
  transform: translateY(-50%);
  vertical-align: middle;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; }

.container {
  width: 1280px; }

#header {
  height: 57px;
  padding-left: 59px;
  line-height: 57px; }
  #header .navbar-header {
    font: 21px/57px "黑体"; }
    #header .navbar-header:before {
      display: inline-block;
      width: 31px;
      height: 31px;
      margin: 12px 12px 0 0;
      content: '';
      vertical-align: top;
      background: url(../img/sprite.png) no-repeat -20px -20px; }
  #header .nav {
    margin-right: 44px; }
    #header .nav li {
      display: inline-block; }
      #header .nav li a {
        padding: 16px 23px;
        font-size: 14px;
        line-height: 1.929;
        color: #787b83; }
        #header .nav li a.login {
          color: #e74f4d; }
          #header .nav li a.login:before {
            display: inline-block;
            width: 13px;
            height: 17px;
            margin-right: 7px;
            content: '';
            vertical-align: middle;
            background: url(../img/sprite.png) no-repeat -80px -20px; }
      #header .nav li.active a {
        color: #e74f4d;
        border-bottom: 3px solid #e74f4d; }

#banner {
  box-sizing: border-box;
  height: 690px;
  background: url(../img/life.jpg) no-repeat;
  background-size: cover;
  color: #fff; }
  #banner h1 {
    margin-left: 115px;
    padding-top: 210px;
    font: 60px/108px 'Microsoft YaHei'; }
  #banner p, #banner button {
    margin-left: 126px; }
  #banner p {
    font: 21px/33px 'Microsoft YaHei'; }
  #banner button {
    width: 330px;
    height: 63px;
    margin-top: 60px;
    color: #fff;
    font-size: 30px;
    line-height: 63px;
    border: none;
    background: #fd323d; }

#desc {
  height: 250px; }
  #desc ul li {
    box-sizing: border-box;
    width: 25%;
    text-align: center; }
    #desc ul li:before {
      display: block;
      width: 42px;
      height: 42px;
      margin: 45px auto;
      content: '';
      background: url(../img/sprite.png) no-repeat; }
    #desc ul li:nth-child(1):before {
      background-position: -20px -140px; }
    #desc ul li:nth-child(2):before {
      background-position: -120px -140px; }
    #desc ul li:nth-child(3):before {
      background-position: -220px -140px; }
    #desc ul li:nth-child(4):before {
      background-position: -320px -140px; }
    #desc ul li p {
      padding: 0 80px; }
    #desc ul li + li p {
      border-left: 2px solid #aba6a5; }

#about-world {
  box-sizing: border-box;
  height: 360px;
  padding-top: 90px;
  background: #ececec; }
  #about-world p {
    font: 53.6px/1 'SimHei';
    text-align: center;
    color: rgba(50, 51, 51, 0.5); }
    #about-world p:before {
      display: block;
      width: 91px;
      height: 91px;
      margin: 0 auto 50px;
      content: '';
      background: url(../img/sprite.png) no-repeat -250px -20px; }

#cityInfo {
  height: 340px;
  font-size: 0;
  text-align: center;
  background: url(../img/map.jpg) no-repeat;
  background-position: cover;
  color: #fff; }
  #cityInfo h3 {
    padding-top: 50px;
    font-size: 21px;
    line-height: 45px;
    text-align: center; }
    #cityInfo h3:after {
      display: block;
      width: 30px;
      height: 2px;
      margin: 0 auto;
      content: '';
      background: #fff; }
  #cityInfo p {
    font-size: 12px;
    line-height: 53px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8); }
  #cityInfo form .select {
    display: inline-block;
    position: relative;
    width: 234px;
    height: 34px;
    margin: 0 9px;
    box-sizing: border-box;
    border: none;
    font-size: 12px;
    color: #000;
    text-align: left;
    vertical-align: top;
    background: #fff;
    border-top: 1px solid transparent;
    border-right: 1px solid #e1e3e2;
    border-left: 1px solid #e1e3e2; }
    #cityInfo form .select span {
      height: 34px;
      line-height: 34px;
      padding: 11px; }
      #cityInfo form .select span:after {
        content: '';
        display: block;
        position: absolute;
        width: 17px;
        height: 17px;
        right: 8px;
        top: 8px;
        background: url(../img/sprite.png) no-repeat -360px -80px; }
    #cityInfo form .select ul {
      position: relative;
      top: -1px;
      left: -1px;
      width: 234px;
      box-sizing: border-box; }
      #cityInfo form .select ul li {
        display: none;
        padding-left: 30px;
        background: #ececec;
        color: #000; }
        #cityInfo form .select ul li:hover {
          background: url(../img/sprite.png) no-repeat -360px -20px #e74f4d; }
    #cityInfo form .select:focus {
      border-left: 1px solid #e74f4d;
      border-right: 1px solid #e74f4d;
      border-top: 1px solid #e74f4d; }
      #cityInfo form .select:focus ul {
        border-left: 1px solid #e74f4d;
        border-right: 1px solid #e74f4d;
        border-bottom: 1px solid #e74f4d; }
        #cityInfo form .select:focus ul li {
          display: block; }
  #cityInfo form button {
    width: 235px;
    height: 35px;
    margin: 0 9px;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    border: none;
    background: #be4e48; }

#salon {
  height: 604px;
  text-align: center;
  background: #f7f7f7; }
  #salon .city {
    display: inline-block;
    width: 219px;
    height: 389px;
    margin: 0 18px;
    padding-top: 100px;
    vertical-align: middle; }
    #salon .city img {
      padding: 12px 7px;
      border: 1px solid #e0e0e0;
      border-bottom: 1px solid #f5f5f5;
      background: #fff; }
    #salon .city h3 {
      font-size: 13px;
      font-weight: bold;
      line-height: 3;
      color: #323333; }
    #salon .city p {
      font-size: 11px;
      line-height: 1;
      color: #8b8c8d; }
    #salon .city.select h3 {
      margin-top: 5px;
      font-size: 18px;
      line-height: 1; }
    #salon .city.select p {
      font-size: 11px;
      line-height: 29px; }

#m-sliders {
  height: 565px;
  text-align: center; }
  #m-sliders .sld-info {
    width: 850px;
    height: 100%;
    background: url(../img/time.jpg) no-repeat;
    color: #fff;
    padding-top: 140px;
    box-sizing: border-box;
    position: relative; }
    #m-sliders .sld-info h3 {
      font-size: 49.5px;
      line-height: 1; }
    #m-sliders .sld-info h2 {
      font-size: 157.788px;
      line-height: 1; }
    #m-sliders .sld-info p {
      font-size: 21.915px;
      line-height: 1; }
    #m-sliders .sld-info:before {
      right: 0;
      border-right: 25px solid #fff; }
  #m-sliders .sld-desc {
    padding: 0 70px;
    overflow: hidden;
    text-align: center; }
    #m-sliders .sld-desc h3 {
      position: relative;
      padding-top: 160px;
      font-size: 18px;
      font-weight: bold; }
      #m-sliders .sld-desc h3 span {
        color: #e74f4d; }
    #m-sliders .sld-desc p {
      margin-top: 21px;
      font-family: 'SimSun';
      font-size: 12px;
      line-height: 2.5;
      text-align: justify;
      color: #aaa; }
    #m-sliders .sld-desc button {
      width: 103px;
      height: 31px;
      margin-top: 42px;
      border: 1px solid #e74f4d;
      background: #fff; }
  #m-sliders .page-tab {
    margin-top: 26px;
    font-size: 0;
    text-align: center; }
    #m-sliders .page-tab li {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 7px;
      overflow: hidden;
      line-height: 1;
      cursor: pointer;
      border: 1px solid #929292;
      border-radius: 50%; }
      #m-sliders .page-tab li.active {
        background: #929292; }

.new-time {
  height: 520px; }
  .new-time .about-more {
    width: 33.333333%;
    height: 100%;
    text-align: center; }
    .new-time .about-more p {
      padding-top: 170px;
      font-family: 'SimHei';
      font-size: 21px;
      line-height: 1.446;
      text-align: center; }
      .new-time .about-more p:after {
        display: block;
        width: 29px;
        height: 2px;
        margin: 0 auto;
        margin: 21px auto 25px;
        content: '';
        background: green; }
    .new-time .about-more button {
      width: 167px;
      height: 41px;
      font-size: 21px;
      line-height: 1;
      background: transparent; }
  .new-time .left {
    background: #e74f4d; }
    .new-time .left p {
      color: #fff; }
      .new-time .left p:after {
        background: #fff; }
    .new-time .left button {
      color: #fff;
      border: 1px solid #fff; }
  .new-time .center p {
    color: #e74f4d; }
    .new-time .center p:after {
      background: #ababaa; }
  .new-time .center button {
    color: #e74f4d;
    border: 1px solid #e74f4d; }
  .new-time .right {
    background: url(../img/travel.jpg) no-repeat;
    position: relative;
    background-position: cover; }
    .new-time .right:before {
      border-left: 25px solid #fff; }

.volunty {
  height: 750px; }
  .volunty .join {
    height: 300px; }
    .volunty .join h3 {
      padding-top: 120px;
      font-family: 'SimHei';
      font-size: 21px;
      line-height: 2;
      text-align: center;
      color: #323333; }
      .volunty .join h3:after {
        display: block;
        width: 30px;
        margin: 0 auto 12px;
        content: '';
        border-top: 1px solid #e74f4d;
        border-bottom: 1px solid #eb6664; }
    .volunty .join p {
      font-size: 12px;
      line-height: 1.5;
      text-align: center;
      color: #aaa; }
  .volunty .clause {
    width: 500px;
    height: auto; }
    .volunty .clause .cnt {
      width: 290px;
      margin-left: 140px; }
      .volunty .clause .cnt li {
        height: 95px;
        margin-bottom: 35px; }
        .volunty .clause .cnt li h3 {
          font: 14px/1 'SimHei';
          text-align: center;
          color: rgba(35, 24, 21, 0.8); }
        .volunty .clause .cnt li .protocol {
          display: inline-block;
          width: 290px;
          height: 38px;
          font: 12px/1.75 'SimSun';
          color: rgba(35, 24, 21, 0.6);
          overflow: hidden;
          word-break: break-all;
          text-indent: 2em; }
          .volunty .clause .cnt li .protocol:focus {
            margin-top: 5px;
            position: absolute;
            height: auto;
            background: #f7f7f7;
            text-align: justify;
            border-radius: 5px;
            padding: 8px; }
            .volunty .clause .cnt li .protocol:focus ~ .more {
              display: none; }
        .volunty .clause .cnt li .more {
          display: block;
          font: 12px/1.2 "SimSun";
          color: rgba(35, 24, 21, 0.6);
          text-align: right; }
          .volunty .clause .cnt li .more:before {
            display: inline-block;
            content: '';
            margin-right: 7px;
            width: 10px;
            height: 6px;
            background: url(../img/sprite.png) no-repeat -220px -20px; }
  .volunty .profile {
    width: 640px;
    overflow: hidden; }
    .volunty .profile button {
      font-size: 14px;
      font-family: "SimHei";
      color: #333; }

.col-md-6 {
  float: left;
  width: 50%; }

.col-md-12 {
  width: 100%; }

.col-md-6,
.col-md-12 {
  box-sizing: border-box;
  padding: 7px 9px; }

.form-control {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  font: 12px/40px 'SimSun';
  color: rgba(35, 24, 21, 0.8);
  border: none;
  border-right: 1px solid #f3f3f4;
  border-left: 1px solid #f3f3f4;
  background: #ededef; }

textarea.form-control {
  height: auto; }

footer {
  position: relative;
  height: 415px;
  background: #32363e; }
  footer .link {
    text-align: center;
    color: #fff; }
    footer .link h3 {
      margin-bottom: 9px;
      padding-top: 90px;
      font-family: 'SimHei';
      font-size: 21px;
      line-height: 1; }
    footer .link p {
      font-family: 'SimHei';
      font-size: 12px;
      line-height: 1.5; }
  footer .form-horizontal {
    margin-top: 30px;
    font-size: 0;
    text-align: center; }
    footer .form-horizontal:after {
      display: block;
      width: 180px;
      height: 25px;
      margin: 38px auto 0;
      content: '';
      background: url(../img/sprite.png) no-repeat -20px -80px; }
    footer .form-horizontal .email {
      width: 430px;
      height: 40px;
      margin: 0;
      border: none; }
    footer .form-horizontal .submit {
      width: 80px;
      height: 40px;
      margin: 0;
      color: #fff;
      border: none;
      background: #6f7178; }
  footer .copyright {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 57px;
    font: 12px/57px 'SimSun';
    color: #fff;
    background: #2f2f38; }
    footer .copyright .newWorld {
      margin-left: 100px; }
    footer .copyright .backTop {
      margin-right: 40px; }

/*# sourceMappingURL=task7.css.map */
